<div class="card">
    <div class="card-header">
        Server Type
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" placeholder="Filter by" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary" name="addNewButton" (click)="addNewButtonClick()">Add New</button>
            </div>
        </div>
        <div class="table-responsive">
            <div class="table" *ngIf='serverTypeList'>
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Created By</td>
                        <td>Created Date</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let serverType of serverTypeList">
                        <td>{{serverType.serverTypeId}}</td>
                        <td>{{serverType.name}}</td>
                        <td>{{serverType.createdBy}}</td>
                        <td>{{serverType.createdDateTime|date:'dd-MMM-yyyy'}}</td>
                        <td><button class="btn btn-link" name="editButton"
                                (click)="editButtonClick(serverType.serverTypeId)">Edit</button></td>
                        <td><button class="btn btn-link" name="deleteButton"
                                (click)="showDeleteModal(serverType.serverTypeId)">Delete</button></td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>
<!-- To Open Modal -->
<div class="modal" id="myModal" [style.display]="showModal? 'block': 'none'"> 
<div class="modal-dialog">
    <div class="modal-content">
        <!-- modal - header -->
        <div class="modal-header">
            <h4 class="modal-title" >Delete Server Type</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="hideModal()">&times;</button>
        </div>
        <!-- modal - body -->
        <div class="modal-body">
            <p>You are about to delete record. {{selectedServerTypeId}}</p>
            <p>Are you sure?</p>
        </div>
        <!-- modal - footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="deleteButtonClick(selectedServerTypeId)">Yes</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="hideModal()">No</button>
        </div>
    </div>
</div>
</div>
<!-- <button name="add" (click)="addButtonClick()" class="btn btn-primary">Add New Server Type</button> -->
