<div class="container">
    <h2>User Settings</h2>
    <form #regform="ngForm">
        
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name" />
        </div>
        <div class="form-check form-group">
            <input type="checkbox" class="form-check-input" id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers">  
            <label class="form-check-label" for="emailOffers">Email Special Offer</label>
        </div>
        <p>User Interface Style</p>
        <div class="form-check form-group">
            <input type="radio" class="form-check-input" name="interfaceStyle" id="darkInterface" value="dark" [(ngModel)]="userSettings.interfaceStyle"> 
            <label class="form-check-label" for="darkInterface">Dark</label>
        </div>
        <div class="form-check form-group">
            <input type="radio" class="form-check-input" name="interfaceStyle" id="mediumInterface" value="medium" [(ngModel)]="userSettings.interfaceStyle">
            <label class="form-check-label" for="mediumInterface">Medium</label>
        </div>
        <div class="form-check form-group">
            <input type="radio" class="form-check-input" name="interfaceStyle" id="lightInterface" value="light" [(ngModel)]="userSettings.interfaceStyle">
            <label class="form-check-label" for="lightInterface">Light</label>
        </div>
        <div class="form-group">
            <label for="subscription">Subscription Type</label>
            <select class="form-control" id="subscription" name="subscription" [(ngModel)]="userSettings.subscriptionType">
                <option>Monthly</option>
                <option>Annual</option>
                <option>Lifetime</option>
            </select>
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" class="form-control" rows="3" [(ngModel)]="userSettings.notes"></textarea>
        </div>
        <button class="btn btn-primary">Send</button>
        <button class="btn btn-primary" name="ngFormButton" (click)="ngFormButtonClick()">About ngForm</button>
    </form>
</div>
<p>
{{regform.value|json}}
</p>