<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filter by: {{listFilter}}</h4>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <div class="table">
        <thead>
            <th>Id</th>
            <th>Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let student of studentListFromFile">
                <td>{{student.id}}</td>
                <td>{{student.sName}}</td>
            </tr>
        </tbody>
    </div>
</div>
<div class="row">
<button type="button" class="btn btn-primary" (click)="openL8HttpComponent()">Http Example using Web API </button>
<button type="button" class="btn btn-primary" (click)="openL12HttpComponent()">Http Example to get&post</button>
<button  type="button" class="btn btn-primary" (click)="serverButtonClick()" name="serverButton">Server</button>
</div>