<div class="card">
    <div class="card-header">
        <h4>Project</h4>
    </div>
    <div class="card-body" *ngIf="projectEdit">
        <form #projectForm="ngForm">
            <div class="form-group">
                <label for="projectId">Id</label>
                <input type="text" class="form-control" name="projectId" id="projectId" [(ngModel)] ="projectEdit.projectId" readonly />
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" [(ngModel)]="projectEdit.name" placeholder="Project Name" />
            </div>
            <div class="form-group">
                <label for="about">About</label>
                <input type="text" class="form-control" name="about" id="about" [(ngModel)]="projectEdit.about" placeholder="About Project" />
            </div>
            <div class="form-group">
                <label for="notes">Notes</label>
                <input type="text" class="form-control" name="notes" id="notes" [(ngModel)]="projectEdit.notes" placeholder="Notes"/>
            </div>
            <div class="form-group">
                <label for="sourceCodeLocation">Source Code Location</label>
                <input type="text" class="form-control" name="sourceCodeLocation" type="sourceCodeLocation" [(ngModel)]="projectEdit.sourceCodeLocation" placeholder="Source Code Location" />
            </div>
            <button type="button" class="btn btn-primary mr-3" name="saveButton" (click)="saveButtonClick()">Save</button>
            <!-- <button type="button" name="cancelButton" [routerLink]="['/projects']"
                class="btn btn-primary">Cancel</button> -->
            <button type="button" class="btn btn-primary" name="cancelButton" [routerLink]="['/projects']">Cancel</button>
        </form>
    </div>
</div>