<nav class="navbar navbar-expand navbar-light bg-light">
<a class="navbar-brand">Team Sports</a>
<ul class="nav nav-pills">
<li><a class="nav-link" [routerLink]="['/Home']">Home</a></li>
<li><a class="nav-link" [routerLink]="['/L1']">L1:Binding</a></li>
<li><a class="nav-link" [routerLink]="['/L2']">L2:Bootstrap</a></li>
<li><a class="nav-link" [routerLink]="['/L3']">L3:Product List</a></li>
<li><a class="nav-link" [routerLink]="['/L4']">L4:Image</a></li>
<li><a class="nav-link" [routerLink]="['/L5']">L5: Template Ref</a></li>
<li><a class="nav-link" [routerLink]="['/L6']">L6:Radio *ngIf</a></li>
<li><a class="nav-link" [routerLink]="['/L7']">L7:http (File)</a></li>
<li><a class="nav-link" [routerLink]="['/L8']">L8:http (API)</a></li>
</ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
<!-- <app-addition>  </app-addition> -->
<!-- <app-heroeslist></app-heroeslist> -->
<!-- <app-lesson-one></app-lesson-one> -->
<!-- Following example app-lesson-two used to learn about bootatrap table -->
<!-- <app-lesson-two></app-lesson-two> -->
<!-- To learn about Property Binding - Event Binding - Two Way Binding 
Product List with images using *ngFor - Filter Array - Filter Data from table using two way data binding -->
<!-- <app-lesson-three-productlist></app-lesson-three-productlist> -->
<!-- To learn about property binding with Image control and P Tag -->
<!-- <app-lesson-four-image></app-lesson-four-image> -->
<!-- <app-lesson-five-template-ref-var></app-lesson-five-template-ref-var> -->
<!-- To learn about ngIf with Radio button -->
<!-- <app-lesson-six-radiobutton></app-lesson-six-radiobutton> -->
<!-- To learn about http - access data from webservice as well as local json data file -->
<!-- <app-lesson-seven-http-student></app-lesson-seven-http-student> -->
<!-- To learn about http - access data from web service -->
<!-- <app-lesson-eight-http-customer></app-lesson-eight-http-customer> -->