<div class="card">
    <div class="card-header">
        Add New Server Type
    </div>
    <div class="card-body" *ngIf="serverType">
        <form #serverTypeForm="ngForm">
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="name">Server Type</label>
                    <div class="col-md-8">
                        <input 
                            class="form-control" 
                            id="name" 
                            type="text" 
                            placeholder="Name (required)" required
                            minlength="3" 
                            [(ngModel)]=serverType.name 
                            name="name" 
                            #serverTypeNameVar="ngModel"
                            [ngClass]="{'is-invalid': (serverTypeNameVar.touched || 
                                                        serverTypeNameVar.dirty
                                                        ) && 
                                                  !serverTypeNameVar.valid }" />
                        <span class="invalid-feedback">
                            <span *ngIf="serverTypeNameVar.errors?.required">
                                Server type name is required.
                            </span>
                            <span *ngIf="serverTypeNameVar.errors?.minlength">
                                Server type name must contains 3 or more characters.
                            </span>
                        </span>
                    </div>
                </div>
                <!-- Action Button Row -->
                <div class="form-group row">
                    <div class="col-md-1 offset-md-2">
                        <button class="btn btn-outline-primary" type="button" title="To add new record" name="saveButton"
                            (click)="saveButtonClick(serverTypeForm)">
                            Save
                        </button>
                    </div>
                    <button class="btn btn-outline-primary " type="button" title="Cancel and open server type list" name="listButton"
                    [routerLink]="['/servertype']">
                    Cancel
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

</div>