<div class="card">
    <div class="card-header">
        <p>Demo: Observable - Observer - RxJS Operator</p>
    </div>
    <div class="card-body">
        <div class="row">
            <button name="obsButton1" (click)="obsButton1Click()" class="btn btn-outline-primary">Using Constructor</button>
            <button name="obsButton2" (click)="obsButton2Click()" class="btn btn-outline-primary">Using Creation Function (of())</button>
            <button name="obsButtonFilter" (click)="obsButtonFilterClick()" class="btn btn-outline-primary">Filter</button>
            <button name="opButtonMap" (click)="opButtonMapClick()" class="btn btn-outline-primary">Map</button>
        </div>
    </div>
</div>