<div class="card">
    <div class="card-header">
        Server
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" (click)="addNewButtonClick()" name="addNewButton">Add New</button>
            </div>
        </div>
        <div class="table-responsive">
            <div class="table" *ngIf="serverList">
                <table>
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Type</td>
                            <td>Notes</td>
                            <td>Edit</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let serverObj of serverList">
                            <td>{{serverObj.serverId}}</td>
                            <td>{{serverObj.serverName}}</td>
                            <td>{{serverObj.serverTypeName}}</td>
                            <td>{{serverObj.notes}}</td>
                            <td><button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/servers',serverObj.serverId,'edit']">Edit</button></td>
                            <td><button type="button" class="btn btn-outline-primary btn-sm" (click)="showDeleteModal(serverObj.serverId)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- To Open Modal -->
<div class="modal" id="myModal" [style.display]="showModal? 'block': 'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- modal - header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Server Type</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="hideModal()">&times;</button>
            </div>
            <!-- modal - body -->
            <div class="modal-body">
                <p>You are about to delete record. {{selectedServerId}}</p>
                <p>Are you sure?</p>
            </div>
            <!-- modal - footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="deleteButtonClick(selectedServerId)">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="hideModal()">No</button>
            </div>
        </div>
    </div>
</div>